.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    margin-top: 80px;
}

.slides { display: flex; width: 500%; }
.slides input { display: none; }
.slide { width: 20%; transition: 0.8s ease; }
.slide img { width: 100%; display: block; }

#radio1:checked~.first { margin-left: 0; }
#radio2:checked~.first { margin-left: -20%; }
#radio3:checked~.first { margin-left: -40%; }

.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 35px; 
    z-index: 10;
}

/* No seu slider.css ou base.css */
.manual-btn:focus-visible {
    outline: 3px solid #FFD700;
    outline-offset: 4px;
    background: rgba(255, 215, 0, 0.3); /* Um leve brilho interno ao focar */
}

.manual-btn {
    border: 2px solid #fff;
    padding: 6px; border-radius: 50%;
    cursor: pointer; margin: 0 10px; transition: 0.3s;
}

.manual-btn:hover, 
#radio1:checked~.navigation-manual .manual-btn:nth-child(1),
#radio2:checked~.navigation-manual .manual-btn:nth-child(2),
#radio3:checked~.navigation-manual .manual-btn:nth-child(3) {
    background: #fff;
}

@media screen and (max-width: 768px) {
    .navigation-manual, 
    .navigation-auto {
        display: none;
    }
}
